// Imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')
@import "imports"

@font-face
  font-family: OpenSans
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

*
  padding: 0
  margin: 0
  font-family: OpenSans, sans-serif

*::before, *::after
    box-sizing: border-box

a
  text-decoration: none
  display: block

header
  nav
    display: flex
    justify-content: normal
    align-content: center
    width: 100%
    height: 100px
    flex-wrap: wrap
    background-color: $header-color
    @include box-shadow($default-box-shadow)

    .banner
      flex: 20%

      img
        width: 100%
        height: 70px
        padding: 15px 0

    div.main-nav
      flex: 80%
      align-content: center
      flex-wrap: wrap

      ul
        display: flex
        justify-content: start
        align-content: center
        flex-wrap: wrap
        height: 100%

        li
          padding: 20px
          border-radius: 100%
          list-style: none

          &:first-child
            padding: 16px

          &:first-child a
            color: $header-button-active-color
            font-size: 20px

          a
            font-weight: 600
            font-size: 15px
            color: $header-button-color
            @include transition(0.5s color)

            &:hover
              color: $header-button-active-color
              @include box-shadow((10px 10px 25px rgb(255 255 255 / 20%), inset 10px 10px 25px rgb(255 255 255 / 10%)))

    div.main-nav-mb
      position: absolute
      display: none
      right: 0
      width: 200px
      height: 100px
      @include transition((500ms height, 1s top, 1s background))

      .main-nav-mb-item
        list-style: none
        display: block
        padding: 10px 30px
        font-weight: bold

      &:hover
        top: 0
        height: 100%
        background: #fff
        @include box-shadow($default-box-shadow)

        div.title
          height: 70px

      div.title
        @extend .main-nav-mb-item
        padding: 0
        font-size: 17px
        display: flex
        justify-content: center
        align-items: center
        height: 100px
        @include transition(500ms height)

      ul
        display: none
        padding: 0
        height: 89.5%
        overflow-y: auto

        li
          @extend .main-nav-mb-item

          &:hover a
            color: $header-button-active-color

          &:first-child a
            color: $header-button-active-color
            font-size: 15px

          a
            color: $header-button-color
            @include transition(0.5s color)


@media only screen and (max-width: $sz-mb-large)
  header
    nav
      div.main-nav
        flex: 0
        ul
          display: none

      div.main-nav-mb
        display: block
        &:hover
          ul
            display: block

@media only screen and (max-width: $sz-mb-small)
  header
    nav
      div.main-nav-mb
        width: 100px
        &:hover
          width: 200px
