<html lang="PT-Br">
    <head>
        <title>Sass Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="banner">
                    <a href="https://sass-lang.com/" target="_blank">
                        <img src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" alt="Teste">
                    </a>
                </div>

                <div class="main-nav">
                    <ul>
                        <li>
                            <a href="https://sass-lang.com" target="_blank">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/blog" target="_blank">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/documentation" target="_blank">
                                Doc
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sass" target="_blank">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-nav-mb">
                    <div class="title">Menu</div>
                    <ul>
                        <li>
                            <a href="https://sass-lang.com" target="_blank">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/blog" target="_blank">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/documentation" target="_blank">
                                Doc
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sass" target="_blank">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>