<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sass Project</title>
        <meta charset="UTF-8">
        <meta name="author" content="Attus Pacheco">
        <meta name="keywords" content="HTML, CSS, SASS">
        <meta name="description" content="Leaning about Sass">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="pt-br, en">

        <link rel="icon" href="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="https://sass-lang.com/" target="_blank" title="Home">
                        <img src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" loading="lazy" alt="Sass Logo" title="Home Image">
                    </a>
                </div>

                <div class="main-nav">
                    <ul>
                        <li>
                            <a href="https://sass-lang.com" target="_blank" title="Home">Home</a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/blog" target="_blank" title="About">About</a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/documentation" target="_blank" title="Doc">Doc</a>
                        </li>
                        <li>
                            <a href="https://github.com/sass" target="_blank" title="GitHub">GitHub</a>
                        </li>
                    </ul>
                </div>

                <div class="main-nav-mb">
                    <div class="title">Menu</div>
                    <ul>
                        <li>
                            <a href="https://sass-lang.com" target="_blank">Home</a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/blog" target="_blank">About</a>
                        </li>
                        <li>
                            <a href="https://sass-lang.com/documentation" target="_blank">Doc</a>
                        </li>
                        <li>
                            <a href="https://github.com/sass" target="_blank">GitHub</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="main">

            <div class="banner">
                <div class="image">
                    <img src="../public/images/1920x720.png" loading="lazy" alt="Placeholder" title="Placeholder">
                </div>
                <div class="content">
                    <div class="title">Sass Project</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book.
                    </div>
                </div>
            </div>

            <div class="section-spaced images-section">
                <div class="title">Another Images</div>
                <div class="images">
                    <div class="image-group">
                        <div class="image small-image">
                            <img src="../public/images/510x140.png" loading="lazy" alt="Placeholder" title="Placeholder">
                        </div>
                        <div class="image large-image">
                            <img src="../public/images/510x260.png" loading="lazy" alt="Placeholder" title="Placeholder">
                        </div>
                    </div>
                    <div class="image-group">
                        <div class="image large-image">
                            <img src="../public/images/510x260.png" loading="lazy" alt="Placeholder" title="Placeholder">
                        </div>
                        <div class="image small-image">
                            <img src="../public/images/510x140.png" loading="lazy" alt="Placeholder" title="Placeholder">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
